services:
  playwright-test:
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    volumes:
      - ./allure-report/:/upskwela-pw/allure-report
      - ./test-results/:/upskwela-pw/test-results
