name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npm run test:mobile-emul
        env:
          EMAIL: ${{ secrets.EMAIl }}
          PASSWORD: ${{secrets.EMAIL}}
          LOGIN_API: ${{secrets.LOGIN_API}}
          LOGOUT_API: ${{secrets.LOGOUT_API}}
          POST_API: ${{secrets.POST_API}}
          COMMUNITY_ID: ${{secrets.COMMUNITY_ID}}
          AUTHOR_ID: ${{secrets.AUTHOR_ID}}
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
