name: Playwright Tests
on:
  push:
    branches: [main, master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Give the workflow permission to deploy the Pages site
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment,
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Install Allure
        run: npm install -g allure-commandline
      - name: Clean Allure Reports
        run: npm run allure:clean
      - name: Run Playwright tests
        run: npm run test
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PASSWORD: ${{secrets.PASSWORD}}
          LOGIN_API: ${{secrets.LOGIN_API}}
          LOGOUT_API: ${{secrets.LOGOUT_API}}
          POST_API: ${{secrets.POST_API}}
          COMMUNITY_ID: ${{secrets.COMMUNITY_ID}}
          AUTHOR_ID: ${{secrets.AUTHOR_ID}}
      - name: Generate Allure Reports
        run: npm run allure:generate
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: allure-report
          path: allure-report/
          retention-days: 30
      - name: Setup Pages
        if: always()
        uses: actions/configure-pages@v5
      - name: Upload artifact
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload Allure Report files
          path: allure-report/

  # Single deploy job since we're just deploying
  deploy:
    if: github.ref == 'refs/heads/main'
    needs: test
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
